 <div class="panel"> 

 	<h3>Ananthlabs - Innovation through Technology <br>
 		<small>We follow agile and result oriented development methodology to deliver high quality web applications. 
 		</small>
 	</h3>
      
      <p>AnanthLabs is a rapidly growing company which offers a wide spectrum of quality web solution services to global clients With offices in US & India, we specialize in the development of web-based enterprise solutions, web application and portal development. Our competence and experience ensure that we deliver excellent services and products to our customers. At every stage of the development process, from conceptual design to project release, the highest quality standards are maintained. We specialize in reducing costs for our customers and improving productivity, reliability, quality, speed and agility. </p>
    <h3>Research</h3>
       <p>We focuses on delivering innovative ideas as an off-the shelf market ready solution. Our general strength is specializing in marketing emerging technology, intellectual property management, and product development. 
       </p>
    <h3>Design</h3>
       <p>If you don't have a website or just have not updated it in years then perhaps we can help. Our designers have created web sites for small, independently owned companies and large multinationals.
       </p>
    <h3>Development</h3>
       <p>We follow agile methodology in our development process to deliver high quality in our engineering process. 
       </p>     

 </div>
 