 <style type="text/css">
   a:hover
     {
 	   background-color: transparent;
 	 }
 </style>          
           
<div class="large-4 small-6 columns">
  <div class="panel" style="background-color:#fd6200; height:250px;">
    <h5 style="color:white;" align="center">ABOUT US</h5>
      <h6>
      	<small style="color:white;">Since 2005, we've developed and deployed a series of production grade Ruby on Rails applications following a lean, agile development process...
      	</small>
      </h6>
    <h6 class="subheader" ><a href="/home/aboutus">Read More</a></h6>
  </div>
</div>

<div class="large-4 small-6 columns">

  <div class="panel" style="background-color:#6700b8; height:250px;">
    <h5 style="color:white;" align="center">SERVICES</h5>
    <h6>
      <small style="color:white;">
        We always try to keep up with latest trends in the technology by consistently working out with the new upcoming frameworks and plugins...
      </small>
    </h6>
    <h6 class="subheader"><a href="/home/services">Read More</a></h6>
  </div>
</div>

<div class="large-4 small-6 columns">

  <div class="panel" style="background-color:#d6b800 ;height:250px;">
    <h5 style="color:white;" align="center">PORTFOLIO</h5>
    <h6>
    	<small style="color:white;">
    		We have designed, developed, deployed and supported enterprise applications using Ruby on Rails that enable businesses to function...
    	</small>
    </h6>
    <h6 class="subheader"><a href="/home/portfolio">Read More</a></h6>
  </div>
</div>

<div class="large-4 small-6 columns">
  <div class="panel" style="background-color:#20c200; height:250px;">
    <h5 style="color:white;" align="center">Jobs</h5>
    <h6>
      <small style="color:white;">
         We provide clear and concise visibility into the development process, allowing you to have your finger on the pulse of the project progress at all times..
      </small>
    </h6>

    <h6 class="subheader"><a href="/home/job">Read More</a></h6>
  </div>
</div>

<div class="large-4 small-6 columns">

  <div class="panel" style="background-color:#dd0040; height:250px;">
    <h5 style="color:white;" align="center">TEAM</h5>
    <h6 class="subheader"> <a href="/home/team">Read More</a></h6>
  </div>
</div>
<div class="large-4 small-6 columns">

  <div class="panel" style="background-color:#00bde7; height:250px;">
    <h5 style="color:white;" align="center">CONTACT US</h5>
    <h6 class="subheader"><a href="/home/contactus">Read More</a></h6>
  </div>
</div>

