 <div class="panel "> 

 	<h3> Work With Us</h3><hr>
      
      <h3>Sr. Rails Developer,Hyderabad<br/>
          <small>How we operate:</small>
      </h3>
	    <ul>
	    	<li>Our server stack is Rails 3, REE, passenger, nginx,   MySQL, redis, and ubuntu, hosted at slicehost.</li>
	        <li> On the front end we use jquery, jquery-mobile, and prototype javascript libraries.</li>
	        <li>Our code lives on github.</li>
	        <li>We integrate with Amazon RDS, Amazon SimpleDB, Facebook Platform, LinkedIn and Twitter.</li>
	        <li>We deploy daily, often multiple times a day
	        We’re constantly evaluating new technologies that can help us operate better, faster, and smarter.</li>
	    </ul>

      <h3>Skills & Requirements<br />
           <small>What you need:</small>
      </h3>
        <ul>
	        <li> Strong work ethic</li>
	        <li> Ability to write clean code and tests</li>
	        <li> Exerience with a web framework – Rails preferred but not required</li>
	        <li>Understanding of relational databases – you should know how to write a non-trivial join or select</li>
	        <li>At least some shell experience – a command line shouldn’t be foreign to you</li>
        </ul>

      <h3>
      	  <small>Nice things to have:</small>
      </h3>
          <ul>
              <li>3+ years of rails development</li>
	          <li>Experience maintaining your own server</li>
	          <li>You’ve rebased more than a few git branches</li>
	          <li>Facebook platform development</li>
	          <li>Intermediate statistics/machine-learning</li>
	      </ul>
 <hr>
	<h3>
	    Innovation-minded iOS Engineer/Developer<br />
        <small>The Requirements:</small>
    </h3>

       <ul>
       	  <li>Must have developed and deployed iOS Application(s) through iTunes</li>
          <li>Experience with design, architecture, and implementing new features on iOS</li>
          <li>Expertise with Objective-C (familiarity with C or C++ is a plus)</li>
          <li>Familiarity with MVC and related design patterns.</li>
          <li>Experience writing programs utilizing ARC and without ARC</li>
          <li>Expertise with iOS SDK (Cocoa Touch, Core Services)</li>
          <li>History of working with 3rd party frameworks and APIs</li>
      </ul>

	<h3>
		<small>
	       Our team is smart, ambitious, and passionate; the environment is relaxed and a lot of fun despite regular, tight deadlines. We are focused on quick, quality completion of projects and excited by what we do. We are looking for someone who is smart, collaborative, creative, and can get things done to a high quality and on tight deadlines.
	    </small>
	</h3>

	<h3 class="panel">Apply for Job<br />
	    <small>
	    	If you think you are the right person for this job, then send us an email with your CV and a covering letter to 
	    	<a href="" style="color:black;">jobs@ananthlabs.com </a>, also if you have any questions, please feel free to email us at the same address.
	    </small>
	</h3>
 </div>
 