 <div class="panel "> 

 	<h3>Portfolio</h3>
      
      <p>Portfolio of a Software Company can tell you lot about any selected software company. Whether you want to select the best software development company to develop a custom software application for you or you want to hire the services of a company to modify or add new features to your existing software application, having a look at the company portfolio can be really time saver. Yes software companies are careful to accept only the software applications that they can create and manage successfully, still portfolio of a software company tells you what work the employees of the company have done in past. It is like taking an interview of a candidate before hiring him / her for any given job and yes an informed decision is worth the time and efforts spent.
      </p>
      <p>Our Portfolio displays few small software applications to display what are our capabilities and what work we can do for you. Our Portfolio is rich with lots of custom software applications developed so far. We have developed applications for Windows covering System Utilities, Database Applications, Applications communicating with other applications and devices and lots more. Apart from Windows based applications we have developed Macintosh Applications, Linux Tools and Android Apps. You will find lots of sample utilities on our portfolio website, however not all applications are listed on our portfolio website due to signed NDA with client or other reasons. We fully evaluate the project requests that we receive and only when we are fully confident of the underlying technology and related concepts, we go ahead and provide you the software development services.</p>
</div>
 