 <div class="panel"> 
   <h3 align="center">Ruby on Rails Application Development</h3>
    
    	<h3 class="panel">
    	  <small>
    		<ul>
    			<li>Web Application Development using Agile, Scrum Methodologies</li>
	            <li>Developer API and Web Services Development</li>
	            <li>RESTful Web services for existing Applications</li>
	            <li>Facebook API Integration</li>
	            <li>Amazon Web Service Integration</li>
	            <li>Google API Integration</li>
	            <li>Twitter API Integration</li>
	            <li>E-Commerce Shopping Carts, E-commerce Integration</li>
	            <li>Payment Processing using Paypal, Braintree, AuthorizeNET</li>
	            <li>High Performance using Mongrel Cluster, Phusion Passenger</li>
	            <li>Apache, nginx Web Servers for Performance</li>
	        </ul>
	      </small>
	    </h3>

 </div>
 