 <div class="panel "> 

 	<h3>Team</h3>
      
      <p>Teamwork is a proven, reliable and friendly project management software, full-featured and easy-to-use. Teamwork's flexibility makes it a great choice both for SMB project management and enterprise project management. Traditional project management tools put the burden of keeping projects data up to date, keeping teams involved and tracking project progress on the managers' shoulders. Teamwork is a web based project management solution that minimizes the effort of administrative tasks and lets you focus on what's really important for your company to grow. Online collaboration brought to you by Teamwork makes your data easier to collect and tracking task progres will become easier too.Teamwork is a project management software solution with a built-in interactive Gantt chart that visualizes your plans and allows you to easily update them in real time, adding assignments and dependencies also with delay.
      </p>
 
      <p>Taking advantage of Teamwork's project planning tools, not only you get effective time recording software at your service, but also easier and quicker project tracking. Teamwork is business management software that combines the functionality of project planning, time tracking software, bug tracking software, task management and document management software in one software only.</p>
 
</div>
 